.flexslider {
	@include reset;
	border: none;
	height: 100%;
    height: 100vh;
}

.slides {
	@include reset;
	list-style: none;
	height: 100%;
    background-color: $dark_green_grey;
	li {
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: 100%;
	}
}

.direction-nav {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 60px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    // opacity: 0;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.flex-prev {
    	left: 50px;  
        &:hover {
            left:45px;
        }  	
    }

    &.flex-next {
    	right: 50px;
        &:hover {
            right:45px;
        }   

    }
}



.flex-control-nav {
	z-index: 10;
	bottom: 6%;
}

.arrow {
    width: 30px;
    height: 60px;
}


.arrow-line {
    fill:none;
    stroke:$white;
    stroke-width: 10px;
    // stroke-miterlimit:10;
}



/*  paging  */


.flex-control-paging {

    li {
        a {
            width: .9rem;
            height: .9rem;
            display: block;
            background: #666;
            background: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            text-indent: -9999px;
            // -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            // -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            // -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            // box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            // -webkit-border-radius: 20px;
            // -moz-border-radius: 20px;
            // border-radius: 20px;  

            &:hover {
                background: #333;
                background: rgba(255, 255, 255, 0.7);
            }   
            &.flex-active {
                background: #000;
                background: rgba(255, 255, 255, 0.9);
                cursor: default;
            }       
        }
    }
} 




/* RESPONSIVE IMAGES */

@media (max-width: $breakpoint-medium) {
    .slides {
        li {
            &:nth-child(1) {
                background-image: url('../../img/mobile/m-4-compressor.jpg');
            }
            &:nth-child(2) {
                background-image: url('../../img/mobile/m-1-compressor.jpg');
            }
            &:nth-child(3) {
                background-image: url('../../img/mobile/m-5-compressor.jpg');
                // background-position: top center;
            }
        }
    }    
}


@media (min-width: $breakpoint-medium) {
    .slides {
        li {
            &:nth-child(1) {
                background-image: url('../../img/fullscreen/slides/images-full-screen-5.jpg');
            }
            &:nth-child(2) {
                background-image: url('../../img/fullscreen/slides/images-full-screen-1.jpg');
            }
            &:nth-child(3) {
                background-image: url('../../img/fullscreen/slides/images-full-screen-6.jpg');
                background-position: top center;
            }
        }
    }
}





