.main_nav {
	list-style: none;
	float: right;
	margin-top: 1rem;
	animation-name: fadeIn;
	animation-delay: 600ms;
	animation-duration: 2s;
	opacity: 0;

	li {
		display: inline-block;
		margin-right: 2rem;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			display: block;
			border-top: 2px solid $color-text;
			padding-top: 1.5rem;
		}		
		
		&:nth-child(1) {
			a {
			border-color: #ce917e;
			}
		}

		&:nth-child(2) {
			a {
			border-color: #799791;
			}
		}

		&:nth-child(3) {
			a {
			border-color: #454E4C;
			}
		}

		&:nth-child(4) {
			a {
			border-color: #96A08F;
			}
		}


	}
	
}