.icon-menu {
	display: block;
	position: fixed;
	z-index: 99;
	right: 10px;
	top: 10px;
	width: 24px;
	height: 24px;
	fill: $white;
}

@media (min-width: $breakpoint-small) {
	.icon-menu {
		display: none;
	}
}