.Card__container {
	width: 100%;
	max-width: 650px;
	position: relative;
	z-index: 2;
	margin-top: 150px;
}

.Card--grid  {
	margin: 0 auto 25px auto;
}



/* mobile ----------- */
@media only screen and (min-width : $breakpoint-small) {
	
	.Card__container {
		margin-top: 88px;
	}

	.Card--outer {
		display: table;
		width: 100%;
		height: 100%;
	}
	.Card--inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.Card--centered {
		position: relative;
		display: inline-block;		
	}	

	.Card--grid {
		float: left;
		margin-right: 25px;
		margin-bottom: 25px;

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		&:nth-child(4) {
			clear: both;
			margin-bottom: 0;
		}
		&:nth-child(5) {
			margin-bottom: 0;
		}
		&:nth-child(6) {
			margin-bottom: 0;
		}


	}
}


