.Card__masonry {
	width: 100%;
	position: relative;
	z-index: 2;
}


.Card {	
	height: 100%;
	width: 100%;		
	background-color: transparent;
	position: relative;
	transition: all 800ms ease;
	cursor: pointer;

	> div {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		color: $color-text;
		background-color: #fff;
		transition: all 800ms ease;
		border: 5px solid $st3;		
	}	
	

	// &.pull-back {
	// 	transform: scale(0.95);
	// }

	&:nth-child(1) {
		> div {
			border-color: $st4;
		}

		.Card__back {
			background-color: $st4;
		}

		.Card__front {
			background-image: url(../img/square/square-2.jpg);
			background-size: cover;
			&:hover {
				border-color: lighten($st4, 30);
			}

		}
	}
	&:nth-child(2) {
		> div {
			border-color: $st5;
		}

		.Card__back {
			background-color: $st5;
		}

		.Card__front {
			background-image: url(../img/square/square-4.jpg);
			background-size: cover;
			&:hover {
				border-color: lighten($st5, 30);
			}

		}
	}
	&:nth-child(3) {

		> div {
			border-color: $st6;			
		}

		.Card__back {
			background-color: $st6;
		}

		.Card__front {
			background-image: url(../img/square/square-3.jpg);
			background-size: cover;
			&:hover {
				border-color: lighten($st6, 30);
			}			

		}
	}
	&:nth-child(4) {

		> div {
			border-color: $st7;
		}

		.Card__back {
			background-color: $st7;
		}

		.Card__front {
			background-image: url(../img/square/square.jpg);
			background-size: cover;
			&:hover {
				border-color: lighten($st7, 30);
			}

		}
	}
	&:nth-child(5) {
		> div {
			border-color: $st2;
		}

		.Card__back {
			background-color: $st2;
		}

		.Card__front {
			background-image: url(../img/square/square-2.jpg);
			background-size: cover;
			&:hover {
				border-color: lighten($st2, 30);
			}

		}
	}
	&:nth-child(6) {
		> div {
			border-color: $st3;
		}

		.Card__back {
			background-color: $st3;
		}

		.Card__front {
			background-image: url(../img/square/square.jpg);
			background-size: cover;
			&:hover {
				border-color: lighten($st3, 30);
			}
			
		}
	}	
}


@media (min-width: 420px) {
	.Card {
		// height: 200px;
		// width: 200px;
		// > div {
		// 	height: 200px;
		// 	width: 200px;
		// }
	}
}



/* Animation states */

.Card div {
	backface-visibility: hidden;	
}

.Card__front {
	color: #fff;
	transform: perspective(400px) rotateY(0deg);
}

.Card__back{	
	transform: perspective(400px) rotateY(-179.9deg);

	.centered {
		padding: 1rem;
	}	
}



.Card {

	&.moveToCenter {

		.Card__front {
			transform: perspective(400px) rotateY(179.9deg) scale(1.3);
		}
		
		.Card__back{
			transform: perspective(400px) rotateY(0deg) scale(1.3) ;
		}
	}

	&.return {

		.Card__front {
			transform: perspective(400px) rotateY(0deg) scale(1);
		}

		.Card__back{
			transform: perspective(400px) rotateY(-179.9deg) scale(1);
		}
	}

}



.Card__closeBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	z-index: 11;
}


.Card__content {
	margin: 0;
	text-align: left;
	color: $white;
	font-size: 80%;
	opacity: 0;
	transition: all 2s ease;
}


.Card__content__heading {
	margin-top: 0;
	// font-size: 1rem;
	font-weight: 100;
}




.flipped {
	z-index: 9;
}

.flipped {
	.Card__back {
		box-shadow: -1px -1px 27px -6px rgba(59,59,59,1);
	}
	.Card__content {
		opacity: 1;
	}		
}



