.home-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $chalk_board;
}



.logo-overlay {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);	
	width: 50%;
	opacity: 1;
	transition: all 1s ease;
}

.init {
	.logo-overlay {
		opacity: 0;
	}
}


/* shapes */
.c-shape {
	animation-name: fadeInLeft;
}	

#c-shape-1 {
	animation-delay: 25ms;
	
}
#c-shape-2 {
	animation-delay: 50ms;
	
}
#c-shape-3 {
	animation-delay: 75ms;
	
}
#c-shape-4 {
	animation-delay: 100ms;
	
}
#c-shape-5 {
	animation-delay: 125ms;
	
}
#c-shape-6 {
	animation-delay: 150ms;
	
}
#c-shape-7 {
	animation-delay: 175ms;
	
}
#c-shape-8 {
	animation-delay: 200ms;
	
}

.st0{fill:#155147;}
.c-shape{enable-background:new    ;}
.st2{fill:#8B7262;}
.st3{fill:#96A08F;}
.st4{fill:#CE917E;}
.st5{fill:#CFB7AB;}
.st6{fill:#CE917E;}
.st7{fill:#DDD6D2;}
.st8{fill:#454E4C;}




/* characters */
.logo-char {
	fill: white;
	stroke-width: 3;
	stroke-opacity: .5;
	stroke: #bf8651;
	animation-name: fadeIn;
}

#char-1 {
	animation-delay: 550ms;
}
#char-2 {
	animation-delay: 575ms;
}
#char-3 {
	animation-delay: 600ms;
}
#char-4 {
	animation-delay: 625ms;
}
#char-5 {
	animation-delay: 650ms;
}
#char-6 {
	animation-delay: 675ms;
}
#char-7 {
	animation-delay: 700ms;
}
#char-8 {
	animation-delay: 725ms;
}
#char-9 {
	animation-delay: 750ms;
}
#char-10 {
	animation-delay: 775ms;
}
#char-11 {
	animation-delay: 800ms;
}
#char-12 {
	animation-delay: 825ms;
}




