.logo {
	padding: 1rem 0;
	overflow: auto;
	width: 260px;
	float: left;
	opacity: 1;
	transition: all 1s ease;
	display: none;
}

@media (min-width: $breakpoint-medium) {

	

	.logo {
		display: inline-block;
		padding: 2rem 0 1rem 0;
		opacity: 0;
	}

	.init {
		.logo {
			opacity: 1;
		}	
	}	
}





.logo-shapes {
	width: 1em;
	height: 1em;
	float: left;
	margin-right: 1rem;
}







