// default form styling
form {
  @include reset;
}

fieldset {
  margin: 0;
  padding: .5rem 0;
  border: 0 none;
}

input, textarea, select {
  padding: 0;
  color: $color-text;
  outline: 0;
  box-shadow: none;
}

