html, body {
	height: 100%;
}

body {
	overflow: hidden;
}

@media (max-width : $breakpoint-small) {
	
	body {
		&.scroll {

			overflow: auto;

			.page {
				height: auto;		
			}			
		}
	}
}



.container {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	// will-change: transform;
}

.page-current,
.no-js .page,
.active {
	visibility: visible;
	z-index: 1;
}

.isAnimating {
	z-index: 2;
}















