.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


.moveToTop {	
	animation: moveToTop .6s ease both;
}

@keyframes moveToTop {
	from { }
	to { 
		transform: translateY(-100%); 
	}
}



.moveToRightFade {
	animation: moveToRightFade .7s ease both;
}

@keyframes moveToRightFade {
	from { }
	to { 
		opacity: 0.3;
	 	transform: translateX(100%);
	 }
}



.moveFromLeft {
	animation: moveFromLeft .6s ease both;
}


@keyframes moveFromLeft {
	from { 
	 transform: translateX(-100%); }
}


.page-fade {
	animation: fade .7s ease both;
}

@keyframes fade {
	from { }
	to { opacity: 0.3; }
}



.fadeIn {
	animation: fadeIn .7s ease both;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-500%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}




.moveFromBottom {
	animation: moveFromBottom .6s ease both;
}

@keyframes moveFromBottom {
	from { 
		transform: translateY(100%); 
	}
}




.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}





.zoomBoxIn {
  animation-name: zoomBoxIn;
}

@keyframes zoomBoxIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
    transform: scale(.5);
  }

  50% {
    opacity: 1;
  }

  to {
	transform: translate(-50%, -50%);
	transform: scale(2);
  }
}






@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}



