// responsive breakpoints
$breakpoint-small: 660px;
$breakpoint-medium: 50rem;
$breakpoint-large: 75rem;

$max-width: 70rem; 


// fonts
$base-font-size: 16px;
$base-font-standard: arial, helvetica, "free sans", sans-serif;
$base-font-custom: 'Raleway';
$head-font-custom: 'Raleway';



$dark_green: #155147; // dark green
$dark_green_grey: #454E4C; // dark greeny grey
$pink: #CE917E; // pink 

$st2: #8B7262; // brown x
$st3: #96A08F; // light-green x
$st5: #CFB7AB; // biege x
$st7: #DDD6D2; // light beige x

$dark_blue: #053551; 
$red: #410C12; 
$dark_brown: #8B7262;

// colors
$chalk_board: #2C2729;
$color-text: #222;
$color-back: #fbfbfb;
$color-header: #fff;
$color-main: #567;
$color-light: lighten($color-main, 20%);
$color-dark: darken($color-main, 20%);
$black: #222;
$transparent-white: rgba(255,255,255,.6);
$transparent-black: rgba(0,0,0,.8);
$transparent-mid-black: rgba(0,0,0,.3);
$white: #fbfbfb;
$grey: #888;
$button_color: $dark_green;
$button_color_hover: darken($button_color, 10%);
$active_color: $button_color;


