// responsive breakpoints
$breakpoint-small: 660px;
$breakpoint-medium: 50rem;
$breakpoint-large: 75rem;

$max-width: 70rem; 


// fonts
$base-font-size: 16px;
$base-font-standard: arial, helvetica, "free sans", sans-serif;
$base-font-custom: 'Raleway';
$head-font-custom: 'Raleway';

// colors
$chalk_board: #2C2729;
$color-text: #444;
$color-back: #fbfbfb;
$color-header: #fff;
$color-main: #567;
$color-light: lighten($color-main, 20%);
$color-dark: darken($color-main, 20%);
$black: #222;
$transparent-white: rgba(255,255,255,.8);
$transparent-black: rgba(0,0,0,.8);
$white: #fbfbfb;

$st1: #155147;
$st2: #8B7262;
$st3: #96A08F;
$st4: #CE917E;
$st5: #CFB7AB;
$st6: #CE917E;
$st7: #DDD6D2;
$st8: #454E4C; 