#home {
	display: block;
}

@media (min-width: $breakpoint-medium) {
	#home {
		display: none;
	}
}

.main_nav {
	list-style: none;
	clear: none;
	float: right;
	margin-top: 1rem;
	animation-name: fadeIn;
	animation-delay: 600ms;
	animation-duration: 2s;
	opacity: 0;

	li {
		display: inline-block;
		margin-right: 1.5rem;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			display: block;
			border-top: 2px solid $color-text;
			padding-top: 1.5rem;
			color: $white;
			font-weight: bold;

			&.active {
				color: $active_color;
				border-color: $active_color;
			}

			&.on {
				color: $active_color_large_screen;
				font-weight: bold;
				border-color: $active_color_large_screen;
				text-decoration: none;
			}
			&:hover {
				color: $active_color_large_screen;
				font-weight: bold;
				border-color: $active_color_large_screen;
				text-decoration: none;
			}

		}		
		
		&:nth-child(1) {

			a {
				border-color: #ce917e;

				&.active {
					border-color: $active_color;
				}

				&.on {
					color: $active_color_large_screen;
					font-weight: bold;
					border-color: $active_color_large_screen;
				}								
			}
		}

		&:nth-child(2) {
			a {
				border-color: #799791;

				&.active {
					border-color: $active_color;
				}

				&.on {
					color: $active_color_large_screen;
					font-weight: bold;
					border-color: $active_color_large_screen;
				}							
			}
		}

		&:nth-child(3) {
			a {
				border-color: #454E4C;

				&.active {
					border-color: $active_color;
				}

				&.on {
					color: $active_color_large_screen;
					font-weight: bold;
					border-color: $active_color_large_screen;
				}							
			}
		}

		&:nth-child(4) {
			a {
				border-color: #96A08F;

				&.active {
					border-color: $active_color;
				}

				&.on {
					color: $active_color_large_screen;
					font-weight: bold;
					border-color: $active_color_large_screen;
				}							
			}
		}
	}	
}

@media (max-width: $breakpoint-small) {

	.main_nav {		
		float: none;
		clear: left;
		width: 100%;
		padding: 0 0 .5em 0;
		text-align: center;

		li {
			a {
				padding-top: .5rem;;
			}
		}

	}
}


// .show-bgc {

// 	.main_nav {

// 		li {
// 			a {
// 				color: $color-main;	
// 			}
// 		}
// 	}
// }
